body {
	background-color: #10181d;
	font-family: "Gill Sans", sans-serif;;
}

.btn {
	border: 4px solid #15252c;
	border-radius: 10px;
	background-color: #15252c;
	padding: 4px;
	text-decoration: none;
	color: white;
}

.btn:hover {
	border: 4px solid #04040c;
	background-color: #04040c;
}