body {
    background: #10181d;
    color: white
}

.topnav {
    overflow: hidden;
    background-color: #1e282e;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.topnav .a2 {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    background-color: #14191c;
    color: white;
}

.topnav a.active {
    background-color: #14191c;
    color: white;
}

.topnav .icon {
    display: none;
}

.header {
    background-color: #1e282e;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.obj {
    margin: 30px;
    padding: 25px;
}

.obj h1 {
    font-size: 80px;
}

.logo img {
    width: 350px;
    border-radius: 350px;
    border: 5px solid purple;
}

#footer {
    display: flex;
    justify-content: center;
}
#footer .inner {
    background-color: #1e282e;
    border-radius: 30px;
    padding: 5px;
    font-size: 35px;
    width: 100%;
    text-align: center;
}

#main {
    display: flex;
    justify-content: center;   
}

#container-no-page {
    width: 600px;
    border-radius: 20px;
    background-color: orangered;
    padding: 20px;
}

#container-no-page h1 {
    color: white;
    font-size: 40px;
}

#container-no-page p {
    border: 3px solid #1e1f22;
    border-radius: 3px;
    background-color: #2b2d31;
    font-size: 25px;
    padding: 5px;
}

#container-no-page a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: #5865F2;
    border: 4px solid #252e94;
    padding: 5px;
    border-radius: 5px;
}

#container-no-page a:hover {
    background-color: #252e94;
    box-shadow: 5px 5px 5px black;
}

#container-succes {
    width: 600px;
    border-radius: 20px;
    background-color: green;
    padding: 20px;
}

#container-succes h1 {
    color: white;
    font-size: 40px;
}

#container-succes p {
    border: 3px solid #1e1f22;
    border-radius: 3px;
    background-color: #2b2d31;
    font-size: 25px;
    padding: 5px;
}

#container-succes a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: #5865F2;
    border: 4px solid #252e94;
    padding: 5px;
    border-radius: 5px;
}

#container-succes a:hover {
    background-color: #252e94;
    box-shadow: 5px 5px 5px black;
}

#container-contact {
    display: grid;
    justify-content: center;
    text-align: center;
}

#object-contact .link {
    display: flex;
    justify-content: center;
}

#object-contact .link a {
    margin: 8px;
    font-size: 70px;
}

.twitter {
    text-decoration: none;
    color: #1d9bf0;
}

.discord {
    text-decoration: none;
    color: #5562ea;
}

.instagram {
    text-decoration: none;
    color: #f60f46;
}

.gmail {
    text-decoration: none;
    color: #f44336;
}

.twitter:hover {
    color: #0d7ac3;
}

.discord:hover {
    color: #3642bd;
}

.instagram:hover {
    color: #b00f35;
}

.gmail:hover {
    color: #bd2015;
}

.contact-form {
    text-align: center;
    background-color: #3642bd;
    font-size: 50px;
    padding: 7px;
    border-radius: 7px;
}

.contact-form input[type=email], input[type=text], textarea {
    font-size: 40px;
}

.contact-form textarea {
    width: 500px;
}

.contact-form input[type=submit] {
    font-size: 30px;
}

@media screen and (max-width: 850px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .header {
        display: grid;
    }

    .obj {
        text-align: center;
        margin: 30px;
        padding: 25px;
    }
    
    .obj h1 {
        font-size: 45px;
    }
    
    .logo img {
        width: 200px;
        border-radius: 200px;
        border: 5px solid purple;
    }
    
    .contact-form {
        font-size: 35px;
    }

    .contact-form input[type=email], input[type=text], textarea {
        font-size: 30px;
    }

    .contact-form textarea {
        width: 300px;
    }
}